/*Classes used consistently*/

:root {
    --contentWidth: 80vw
}
/*tempoary background on imgs to act as a placeholder*/
img {
    background-color: #f02ebfc9;
    display: block;
}

/*h1 to h6 tags and li used in the navigation bar*/

.hTag {
    font-family: 'Source Serif Pro', serif;
    background-color: #404040;
}


/*For all h1 tags throughout site*/

h1 {
    font-size: 40px;
    text-align: center;
    width: 100vw;
    padding: 10px 0;
    margin: 0 auto;
    line-height: 48px;
    color: #ffff66;
}


/*h2 tags used for section titles on landing page*/

h2 {
    font-size: 28px;
    padding: 10px;
    margin: 30px auto;
    color: #f02ebf;
    border-radius: 3px;
}

h3 {
    width: 85%;
    height: 40px;
    padding-left: 5px;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #2ec3f0;
    border-radius: 3px;
}


/*All text content that doesn't fall under hTag*/

.textContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

/*Text links*/

.textLink {
    font-weight: 500;
    color: rgb(4, 0, 255);
}

/*Header*/
header{
    margin-top: 8vh;
}

/*Main content*/

main {
    width: var(--contentWidth);
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    max-width: 900px;
}


/*Navigation bar*/

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 8vh;
    background-color: #fff;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

nav ul li {
    padding: calc((8vh - 16px)/2) 15px;
}


/*Landing page sections grid*/

body {
    display: grid;
    grid-template-areas: "header" "about" "projects" "contact";
    overflow-x: hidden;
}


/*Header*/


/*Header Elements*/

header {
    height: 92vh;
    width: 100vw;
    margin-bottom: 50px;
    background-color: #404040;
    grid-area: header;
    z-index: 50;
    
}

header .titleContainer {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

/*About me section*/

#about {
    grid-area: about;
    z-index: 50;
}

#about figure {
    width: 200px;
    padding: 0 15px;
    float: right;
}

#about figure img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about figure p {
    width: fit-content;
}

#about p {
    width: calc(var(--contentWidth) - 250px);
    display: inline-block;
}


/*Projects section*/

#projects {
    margin-top: 20px;
    grid-area: projects;
    z-index: 50;
}

#projects div {
    margin-top: 15px;
    display: grid;
    grid-template-rows: unset unset;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: "title title ." "description img img";
}

#projects div h3{
    grid-area: title;
}

#projects div p {
    width: calc(var(--contentWidth) - 250px);
    display: inline-block;
    grid-area: description;
}

#projects div img {
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 0 15px;
    grid-area: img;    
}

/*Contact form*/

#contactForm {
    grid-area: contact;
}

#contactForm p {
    margin-bottom: 25px;
}

#contactForm form {
    display: grid;
    grid-template-rows: unset unset unset unset;
    grid-template-areas: "email" "subject" "message" "submit";
    width: 50%;
    margin: 0 auto;
}

#contactForm .emailField {
    grid-area: email;
}

#contactForm .subjectField {
    grid-area: subject;
}

#contactForm .messageField {
    grid-area: message;
}

#contactForm .submitBtn {
    grid-area: submit;
}


/*Footer*/

footer {
    background-color: #404040;
    height: 10vh;
    margin-top: 3vh;
}