/*Aligning text to the center for the game.*/
.gameArea {
    width: 50vw;
    margin: 0 auto;
    background-color: #ff9100;
    border-radius: 5px;
    text-align: center;
}

/*Styles for the h tags in the game area.*/
.gameArea .hTag {
    margin: 10px auto;
    border-radius: 5px;
}

button {
    padding: 5px;
    background-color: #404040;
    color: #ff9100;
    border: 1px solid transparent;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
}

.playLog {
    padding: 5px;
    min-height: 120px;
    width: 50%;
    margin: 10px auto;
    color: #0c0a0a;
}

