body{
    background: linear-gradient(to right, #ffaa00, rgb(255, 67, 67));
    background-repeat: no-repeat;
}

h1 {
    margin: 8vh 0 20px 0;
    text-align: center;
    font-size: 50px;
    color: #000;
}

/*New additions form.*/

.additions {
    margin: 0 auto;
    width: 300px;
    height: fit-content;
}

.additions h2 {
    margin: 10px;
    text-align: center;
    font-size: 28px;
    color: #000;
}

.additions input[type="text"]{
    display: block;
    padding-left: 10px;
    margin: 5px auto;
    border: 0px transparent solid;
    border-radius: 11px;
    line-height: 22px;
    font-size: 18px;
}

.additions input[type="text"]:focus-visible {
    outline: none;
    transform: scale(1.03);
}

.additions .fieldsMessage {
    text-align: center;
    margin-top: 10px;
    height: 16px;
}

.additions .toggleRead {
    display: block;
    height: 22px;
    width: fit-content;
    margin: 15px auto;
    font-size: 18px;
    line-height: 22px;
}

.additions input[type="checkbox"] {
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: rgb(99, 94, 94);
    vertical-align: middle;
}

.additions input[type="checkbox"]:checked {
   background-color: rgb(0, 223, 19);
}


.additions button {
    display: block;
    padding: 5px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 3px;
    border: 0px transparent solid;
    background-color: rgb(238, 214, 0);
    color: rgba(0, 0, 0, 0.829);
    box-shadow: 1px 1px 1px 1px rgba(107, 104, 104, 0.658);
}

.additions button:hover {
    transform: scale(1.05);
}

/*Library*/

.library {
    width: 90vw;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.library div {
    background-color: #f3f3f3;
    height: fit-content;
    width: 180px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.library div h3 {
    font-size: 22px;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    color: #000;
    height: fit-content;
    line-height: 22px;
}

.library div p {
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.library div button {
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 3px;
    font-size: 16px;
    border-radius: 3px;
    border: 0px transparent solid;
    background-color: rgb(238, 214, 0);
    color: rgba(0, 0, 0, 0.829);
    box-shadow: 1px 1px 1px 1px rgba(107, 104, 104, 0.658);
}

.library div button:hover {
    transform: scale(1.05);
}