.gridContainer {
    display: -ms-grid;
    display: grid;
    width: 400px;
    height: 400px;
    margin: 30px auto 0 auto;
    border: 2px solid black;
}

.gridCell {
    border: 1px solid black;
}

.drawingOptionsHeader {
    width: 500px;
    margin: 15px auto 0 auto;
    text-align: center;
}

.drawingOptions {
    padding: 10px;
    margin: 20px auto 0 auto;
    width: 260px;
    border: 2px solid rgba(20, 14, 14, 0.671);
    border-radius: 3px;
}

.drawingOptions h3{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.gridSize{
    width: 240px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70px 50px 135px;
    grid-template-columns: 70px 50px 135px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.colourSelect { 
    display: -ms-grid; 
    display: grid;
        grid-template-areas: "scale" "rainbow" "picker";
}

.colourSelect #greyScale {
    grid-area: scale;
    margin: 0 auto;
    background-color: rgb(214, 212, 86);
    color: rgb(36, 35, 35);
    
}

.colourSelect #rainbow {
    grid-area: rainbow;
    margin: 5px auto 0 auto;
    background-color: rgba(189, 28, 167, 0.658);
}

.colourSelect .picker{
    grid-area: picker;
    margin: 5px auto 0 auto;
}

.colourSelect button{
    height: 30px;
    width: 82px;
    border: none;
    border-radius: 3px;
}

.picker {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 110px 50px;
    grid-template-columns: 110px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.eraser {
    display: -ms-grid;
    display: grid;
}

.eraser .clearGrid { 
    margin: 5px auto 0 auto; 
    height: 30px;
    width: 115px;
    border: none;
    border-radius: 3px;
    background-color: rgba(20, 14, 14, 0.671);
    color: rgb(250, 123, 208);
}

.eraser #eraser { 
    margin: 0 auto;
    height: 30px;
    width: 115px;
    border: none;
    border-radius: 3px;
    background-color: rgba(20, 14, 14, 0.671);
    color: rgb(255, 123, 46);
}

.howToDraw {
    display: grid;
}


.howToDraw .drawOnClick{
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;;
    border: none;
    border-radius: 3px;
    background-color: rgba(20, 14, 14, 0.671);
    color: rgb(110, 125, 255);
}

.howToDraw .drawOnMouseover { 
    margin: 5px auto 0 auto; 
    height: 30px;
    width: 116px;
    border: none;
    border-radius: 3px;
    background-color: rgba(20, 14, 14, 0.671);
    color: rgb(250, 231, 123);
}